* {
  margin: 0;
}
.App {
  font-family: sans-serif;
  padding: 2rem;
}

table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}
.container {
  position: relative;
}

.featured-tag {
  position: absolute;
  top: 4.2%;
  left: 7%;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 22px;
  font-size: 12px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: rgb(136, 189, 196);
  color: #fff;
  padding: 12px;
  font-size: 14px;
}

th:hover {
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
}
a {
  margin-right: 16px;
}

.cdrank {
  height: '40px';
  width: '40px';
  margin-right: '10px';
  border-radius: '50%';
}

.college_name_container {
  display: flex;
}
.clg_title_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#clgtitle {
  color: #4fb8dd;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}
#clg_location {
  color: #4fb8dd;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}
.degree_title_container {
  background: rgb(255, 249, 228);
  border-left: 2px solid rgb(255, 121, 0);
  padding: 4px 10px 4px 6px;
  margin: 4px 0px;
  width: 50%;
  border-radius: 0 20px 20px 0;
}
.img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.degree_title {
  font-size: 12px;
  color: #ff7900;
}

.para {
  font-size: 12px;
  color: #333333;
}

.link_container {
  display: flex;
  gap: 16px;
  justify-content: center;
}

a {
  color: rgb(255, 121, 0);
  font-weight: 500;
  font-size: 14px;
}

.pkg_container {
  color: rgb(62, 174, 141);
  font-size: 16px;
  font-weight: 700;
  margin: 4px;
}
.pkg {
  font-weight: 500;
  font-size: 11px;
  color: rgb(102, 102, 102);
  margin: 2px;
}

.user_review_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.box {
  height: 8px;
  width: 8px;
  background: #ff7900;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 5px;
}

.reviews {
  font-weight: 500;
  font-size: 11px;
  color: #666666;
}

.btn {
  color: #c86c80;
  background: rgb(255, 249, 228);
  padding: 2px 6px;
  line-height: 15px;
  font-size: 11px;
  margin-top: 10px;
  border-radius: 22px;
  text-align: center;
}

.ranking_btn {
  background: rgb(234, 249, 254);
  border-left: 2px solid rgb(66, 174, 232);
  gap: 4px;
  width: 145px;
  padding: 4px 6px;
  border-radius: 0 15px 15px 0;
}
label {
  margin-right: 2rem;
}
#chevron {
  color: 'aqua';
}
.featured-row {
  background-color: #ffc0cb;
}

.input {
  margin-right: 10px;
}
